<div class="container">
  <div class="row">
    <div class="col-12">
      <hr>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum illum odit placeat, totam
          veniam.
        </li>
        <li>Aperiam aspernatur eligendi enim eos, et explicabo hic laudantium nemo nulla provident quia repellendus,
          voluptate?
        </li>
        <li>Cumque eum harum natus nobis optio. Consequuntur dolorem ea eius est iusto nesciunt similique soluta?</li>
        <li>Ab, dolorem est facilis illo laborum, modi nulla provident repudiandae similique ullam voluptatem voluptates
          voluptatibus?
        </li>
        <li>Alias animi aspernatur commodi facere, ipsa odit temporibus tenetur voluptatibus! Eum exercitationem
          inventore tempora vitae!
        </li>
      </ol>
      <hr>
    </div>
  </div>
</div>